asn1crypto==1.2.0
astroid==2.3.3
bz2file==0.98
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.1
cryptography==3.3.2
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.3
mccabe==0.6.1
pycparser==2.19
pylint==2.4.4
pyOpenSSL==19.1.0
Pyphen==0.9.5
PySocks==1.7.1
requests==2.22.0
six==1.13.0
urllib3==1.26.5
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
